@import "tailwindcss";

body {
  background-color: #FFFDF5;
}

@font-face {
  font-family: 'logo';
  src: url('/fonts/BlakaInk-Regular.ttf');
}

@font-face {
  font-family: 'second';
  src: url('/fonts/Ruwudu-Bold.ttf');
}